APP_NAME=Go Backend Boilerplate
APP_ENV=development
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=
DB_NAME=go_boilerplate
DB_SSLMODE=disable

JWT_SECRET=change_me
JWT_EXPIRED_HOUR=24